#main{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}
#name{
    text-align: center;
    font-size: 64px;
    
}
#yearmonth{
    text-align: center;
    font-size: 64px;
    
}
#move{
    text-align: center;
}
#prev{
    text-align: center;
    background-color: #F9CFCB;
    border: solid #6b6a6a;
    border-radius: 100px;
    margin-left: 200px ;
    margin-right: 200px;
    
}
#next{
    text-align: center;
    background-color: #F9CFCB;
    border: solid #6b6a6a;
    border-radius: 100px;
    margin-left:200px;
    margin-right: 200px;
    
}
#prevmonth{
    text-align: center;
    color:#6b6a6a;
    width: 100px;
    
}
#nextmonth{
    text-align: center;
    color:#6b6a6a;
    width: 100px;
}
#calendar{
    text-align: center;
    width: 80%;
    margin: 0  100px 0;
}
table{
    font-size: 36px;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: #ff8e8e;
}
/*土曜日*/
td:last-child {
    color: #8f8fff;
}
